*{
    text-align: center;      /*answer 2*/
}
#mainTopic{
    color: rgb(0,0,255);     /*answer 1*/

}
h1,
h3,
h5{
     font-family: Georgia, 'Times New Roman', Times, serif;    /*answer no 3*/
}
.content{
    background-color: cornflowerblue;                                 /*answer no 4*/
    color: white;
}
div button{
    background-color: purple;                                     /*answer 5*/
    color: azure;
      
}
/*answer no.5 to 10*/

button:hover{
    background-color: yellow;
    color: blue;
}
p :nth-of-type(2n+1){
    color: yellow;
}
h1::first-letter{
    color: red;

}
#yes:checked+label{
    color: darkgreen;
}