*{
    background-color: wheat;
}
table:hover{
    color: aquamarine;
}
table {
    border-color: red;
    background-color: yelloe;
}
button{
    border:2px solid rgb(0, 0, 0);
    border-radius:30px;
    background-color:rgb(200,200,0);
    padding-inline-end: 25px;
}
p{
    background-color: lightblue;
    border-radius: 30px;
    padding-inline-start: 75px;
}

