/*ANS_1*/

.container{
    margin:0;
    padding:0;
    height:100vh;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    grid-gap:10px;
}
.containerdiv{
    background-color:pink;
    font-size:1.5rem;
}
.header{
    grid-column:1/span12;
}
.sidebar{
    grid-column:1/span3;
    grid-row:2/span10;
}
.navigation{
    grid-column:4/span6;
}
.ads{
    grid-column:10/span3;
    grid-row:2/span10;
}
.main{
    grid-column:4/span6;
    grid-row:3/span9;
}
.footer{
    grid-column:1/span12;
    }     
    
    /*END*/

    /*ANS_2*/

@media(max-width:720px)  {
        .header{grid-column:1/span12;
}

.navigation{
    grid-column:1/span12;
    grid-row:2;
}
.sidebar{
    grid-column:1/span3;
    grid-row:3/span9;
}
.main{
    grid-column:4/span9;
    grid-row:3/span9;
}
.ads{
    grid-column:1/span3;
    grid-row:12;
}
.footer{grid-column:4/span9;
    grid-row:12;
}
}
/*ANS_2_END*/

/*ANS_3*/

.loader{
    border:16pxsolid#f3f3f3;
    border-top:16pxsolidgoldenrod;
    border-radius:50%;
    width:120px;
    height:120px;
    animation:spin2slinearinfinite;
}
@keyframesspin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
}
}