*{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: #1b74e4;
}
#searchbutton{
    background-color: black;
    color: white;
}
.userbutton{
    background-color: aqua;
}