
h1{
    color: red;
    background-color: aquamarine;
}
p1{
    color: red;
    background-color: black;
}
p2{
    background-color: brown;
    color: black;
}
p3{
    color: aqua;
    background-color: black;
}